<div class="ui-g">
  <div class="ui-g-12 ui-fluid my-page-content p-grid p-align-center vertical-container">
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <div class="ui-g-12 ui-md-8 ui-md-offset-2">
        <h1 class="my-title">
          MyHairdresser
        </h1>

        <h2 class="my-sub-title">
          Web portal for beauty business and beautiful people...
        </h2>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <div class="ui-g-12 ui-md-8 ui-md-offset-2">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>
