:host ::ng-deep .ui-card {
  background-color: #424242;
  border-radius: 40px;
  /*height: 280px;*/
}

.my-img{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.my-image-deputy-div{
  padding-top: 25%;
  height: 120px;
  padding-bottom: 10%;
  text-align: center;
}

.my-clickable:hover{
  cursor: pointer;
  color: gold;
  border: 1px solid gold;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.my-buttons-wrapper{
  text-align: center;
}

.my-footer-button{
  margin-right: 3px;
}

.my-wroker-name{
  font-weight: bold;
  font-size: large;
}

.my-rate-count-header{
  margin-left: 5px;
  line-height: 24px;
  vertical-align: super;
}

.my-rate-count-label{
  line-height: 24px;
  vertical-align: super;
}

.my-rate{
  float: left;
  /*height: 32px;*/
}
.my-apostrophe{
  color: gold;
  text-decoration-line: underline;
  line-height: 24px;
  vertical-align: super;
  cursor: pointer;
}
