<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <h5 class="ui-panel-title my-header-panel-title">Favourite salons</h5>
      <p-button class="my-header-panel-button" icon="pi pi-plus" (click)="redirectAddSalon()"></p-button>
    </div>
  </p-header>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-5 ui-fluid">
      <div *ngFor="let salon of salons">
        <app-client-salons-list-element [salon]="salon" [favSalons]="salons" (removedSalon)="onRemovedSalon($event)"
          (click)="onSalonSelected(salon)" [isSelected]="selectedSalon===salon" (addedVisit)="onAddedVisit($event)"></app-client-salons-list-element>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-7 ui-fluid">
      <app-client-salon-selected-card [salon]="selectedSalon"></app-client-salon-selected-card>
    </div>
  </div>
</p-panel>
