<div class="ui-g-12 ui-fluid my-list-element-wrapper">
  <div class="ui-g-12 ui-md-12 ui-lg-6">
    <div>
      <div>
        <label class="my-bold-label my-zero-bottom-margin" [ngbTooltip]="clientTooltip" placement="right-top" closeDelay="2500"
          openDelay="500"> {{opinion.clientFirstName}} {{opinion.clientLastName}} </label>
      </div>
      <div>
        <p-rating class="my-rate-label" [ngModel]="opinion.rate" readonly="true" stars="5" [cancel]="false"
          [iconOnStyle]="{'color': getRateColor()}"></p-rating>
        <label class="my-zero-bottom-margin">(</label><label class="my-zero-bottom-margin" [ngStyle]="{'color': getRateColor()}"> {{opinion.rate | rating}} </label><label class="my-zero-bottom-margin">)</label>
      </div>
      <div>
        <label class="my-zero-bottom-margin"> {{opinion.date | date: 'd MMMM y H:mm'}} </label>
      </div>
      <div *ngIf="opinion.imageSource">
        <ng-container *ngTemplateOutlet="descriptionContent"></ng-container>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-6 ui-fluid">
    <img *ngIf="opinion.imageSource" [src]="opinion.imageSource" class="my-img" (click)="opImage.toggle($event)">
    <div *ngIf="!opinion.imageSource">
      <ng-container *ngTemplateOutlet="descriptionContent"></ng-container>
    </div>
  </div>
</div>

<p-overlayPanel #opImage [appendTo]="'body'" showCloseIcon="true">
  <img [src]="opinion.imageSource" />
</p-overlayPanel>

<ng-template #clientTooltip>
  <label class="my-tooltip-label">{{opinion.clientEmail}}</label>
  <button type="button" pButton class="ui-button-secondary my-copy-button" icon="pi pi-copy"
    (click)="copyToClipboard(opinion.clientEmail)"></button>
  <p>{{opinion.clientPhoneNumber}}</p>
</ng-template>

<ng-template #descriptionContent>
  <label class="my-description"> {{opinion.description}} </label>
  <div *ngIf="!answerEditMode && opinion.answer" class="my-answer-wrapper my-answer-read-wrapper">
    <p> <label class="my-bold-label"> {{opinion.workerFirstName}} {{opinion.workerLastName}} </label> answered: </p>
    <p> {{opinion.answer}} </p>
  </div>
  <div *ngIf="answerEditMode" class="my-answer-wrapper">
    <p-inplace #ipAnswer [active]="openedAnswerEdit" class="my-clickable-wrapper">
      <div pInplaceDisplay class="my-inplace-display" [ngStyle]="{'text-align': opinion.answer !== null ? 'left' : 'center'}">
        {{opinion.answer !== null ? opinion.answer : '(click to add answer)'}}
      </div>
      <div pInplaceContent>
        <div class="ui-inputgroup my-input-group">
          <input type="text" [(ngModel)]="opinion.answer" pInputText>
          <button pButton class="my-icon-button" (click)="updateAnswer()" type="button" icon="pi pi-save"></button>
          <button pButton class="ui-button-danger" (click)="closeAnswerEdit()" type="button"
            icon="pi pi-times"></button>
        </div>
      </div>
    </p-inplace>
  </div>
</ng-template>
