<button
  type="button" pButton
  class="my-overlay-button"
  [ngClass]="buttonClasses"
  [ngStyle]="{'top': buttonPaddingTop, 'right': buttonPaddingRight}"
  (mouseenter)="displayOverlay = true"
  (mouseleave)="displayOverlay = false"
  icon="{{buttonIcon}}">
</button>
<div
  class="my-overlay-panel"
  [ngStyle]="{'top': contentPaddingTop, 'right': contentPaddingRight, 'width': contentWidth}"
  [ngClass]="(displayOverlay===true)?'my-show-element':'my-hide-element'">
  <ng-content></ng-content>
</div>
