<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <p-tabView [activeIndex]="tabIndex">
      <p-tabPanel header="User Data">
        <app-form-user-data [userData]="registerCredentials.userData"></app-form-user-data>
      </p-tabPanel>
      <p-tabPanel header="Salon Data">
        <app-form-salon-data [salon]="salonData"></app-form-salon-data>
      </p-tabPanel>
      <p-tabPanel header="Schedule">
        <app-form-schedule [schedule]="registerCredentials.schedule"></app-form-schedule>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <button pButton type="button" (click)="submit()" class="ui-button-raised" label="Add salon"></button>
      <p-message severity="{{validationMessage?.isValid ? 'success' : 'error'}}" class="my-message"
        text="{{validationMessage?.message}}" [ngStyle]="{'visibility': validationMessage ? 'visible' : 'hidden'}">
      </p-message>
    </div>
  </div>
</div>
