:host ::ng-deep .ui-card-shadow{
  background-color: #424242;
}

.my-any-salon-selected-div{
  text-align: center;
  height: 100%;
  width: 100%;
}

.my-label{
  width: 100%;
  font-size: large;
}

.my-grid-element-img{
  object-fit: cover;
  object-position: center;
  height: 150px;
}

.my-grid-element-img-300{
  object-fit: cover;
  object-position: center;
  height: 300px;
}

.my-image-deputy-div{
  height: 147px;
  text-align: center;
  margin: 1.5px;
  border: 1px solid #dedede;
}

.my-header-wrapper{
  position: relative;
}

.my-rating-wrapper{
  position: absolute;
  top: 15px;
  left: 15px;
  height: 40px;
  width: auto;
  text-align: center;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 8px;
  border-radius: 8px;
}
.my-rating-wrapper:hover{
  background-color: #525252;
}
