<div class="ui-g">
  <div class="ui-g-12 ui-fluid p-grid p-align-start">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-8 ui-md-offset-1 my-column-wrapper">
        <p-tabMenu [model]="tabMenuItems" [activeItem]="activeMenuItem">
            <ng-template pTemplate="item" let-item let-i="index">
                <div (click)="toggleMenu(i)">
                    <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon"></div>
                    <div class="ui-menuitem-text my-menuitem-text">
                        {{item.label}}
                    </div>
                </div>
            </ng-template>
        </p-tabMenu>

        <app-client-salons *ngIf="activeMenuItem == tabMenuItems[0]" [salons]="client.favoriteSalons" (removedSalon)="onRemoveSalon($event)" (addedVisit)="onAddVisit($event)"></app-client-salons>
        <app-client-visits *ngIf="activeMenuItem == tabMenuItems[1]" [visits]="client.visits"></app-client-visits>
        <app-client-opinions *ngIf="activeMenuItem == tabMenuItems[2]"></app-client-opinions>
      </div>
    </div>
  </div>
</div>
