<div class="ui-g">
  <div class="ui-g-12 ui-fluid p-grid p-align-center">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <p-scrollPanel [style]="{width: '100%', 'height': '580px'}">
        <p-accordion *ngIf="!showCalendarFlag">
          <p-accordionTab header="Selected salon: {{selectedSalon?.name}}" [selected]="selectSalonTab"
            (selectedChange)="onSalonAccordionTabHeaderClick()">
            <div *ngFor="let salon of salons">
              <app-client-salons-list-element [salon]="salon" (click)="onSalonSelected(salon)"
                [isSelected]="selectedSalon===salon" [onlySelectMode]="true"></app-client-salons-list-element>
            </div>
          </p-accordionTab>
          <p-accordionTab
            header="Selected worker: {{selectedWorker === null ? '(none)' : selectedWorker?.firstName}} {{selectedWorker?.lastName}}"
            [selected]="selectWorkerTab" (selectedChange)="onWorkerAccordionTabHeaderClick()">
            <div *ngFor="let worker of selectedSalon?.workers">
              <app-client-salon-workers-list-element [worker]="worker" (click)="onWorkerSelected(worker)"
                [isSelected]="selectedWorker===worker"></app-client-salon-workers-list-element>
            </div>
          </p-accordionTab>
          <p-accordionTab
            header="Selected services: {{selectedServicesString === '' ? '(none)' : selectedServicesString}}"
            [disabled]="selectedWorker === null" [selected]="selectServicesTab">
            <div (click)="onServicesSelect()">
              <p-listbox [options]="selectedWorker?.services" [(ngModel)]="selectedServices" multiple="multiple"
                checkbox="checkbox" optionLabel="name">
              </p-listbox>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Summary" [disabled]="true" [selected]="selectedServicesString !== ''">
            <div *ngIf="selectedServicesString !== ''">
              <h5>Visit details:</h5>
              <p><label class="my-header-label">Salon: </label> {{selectedSalon?.name}}</p>
              <p><label class="my-header-label">Worker: </label> {{selectedWorker?.firstName}}
                {{selectedWorker?.lastName}}</p>
              <label class="my-header-label">Services: </label>
              <p *ngFor="let service of selectedServices">{{service.name}}: {{service.price}}$ {{service.time}} min</p>
              <p><label class="my-header-label">Total price: </label> {{selectedServicesTotalPrice}}$, <label
                  class="my-header-label">Total time: </label> {{selectedServicesTotalTime}} min</p>
              <p-button class="my-wide-button" (click)="showCalendar()" icon="pi pi-arrow-right" iconPos="right"
                label="Select date"></p-button>
            </div>
          </p-accordionTab>
        </p-accordion>
        <div *ngIf="showCalendarFlag" class="ui-g-12 ui-fluid p-grid p-align-center my-calendar-container">
          <p-progressSpinner *ngIf="!calendarLoadedFlag"></p-progressSpinner>
          <app-make-appointment-calendar *ngIf="calendarLoadedFlag" [worker]="selectedWorker"
            [visitDuration]="selectedServicesTotalTime" [events]="workerActiveVisitsEvents"
            (selectedVisitDate)="setVisitDate($event)"></app-make-appointment-calendar>
          <p-button class="my-wide-button" (click)="showVisitDetails()" icon="pi pi-arrow-left" iconPos="left"
            label="Change visit details"></p-button>
          <button pButton class="ui-button-success my-half-wide-button" (click)="confirmVisit()" icon="pi pi-check"
            label="Confirm"></button>
          <button pButton class="ui-button-danger my-half-wide-button" (click)="rejectVisit()" icon="pi pi-times"
            iconPos="right" label="Reject"></button>
        </div>
      </p-scrollPanel>
    </div>
  </div>
</div>
