.my-list-element-wrapper{
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 2px;
}
.my-list-element-wrapper:hover{
  border-color: gold;
  background-color: #424242;
  cursor: pointer;
}
.my-list-element-wrapper-selected{
  border: 1.5px solid gold;
  background-color: #424242;
  border-bottom: none;
  margin-bottom: 0px;
}
.my-header{
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
.my-label{
  margin-top: 5px;
}

.my-appoint-button{
  float: left;
  width: 90%;
  border-radius: 0px;
}
.my-delete-button{
  width: 10% !important;
  float: right;
  border-radius: 0px;
}

:host ::ng-deep .ui-dialog .ui-dialog-content{
  height: 520px !important;
}

:host ::ng-deep .ui-dialog {
  max-width: 650px;
}
