<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <h2>Schedule</h2>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <h6 class="my-day-title">Monday:</h6>
      <p-checkbox [(ngModel)]="schedule.monday.isActive" binary="true"></p-checkbox>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.monday.begin" [disabled]="!schedule.monday.isActive"></ngb-timepicker>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.monday.end" [disabled]="!schedule.monday.isActive"></ngb-timepicker>
    </div>
  </div>
  <hr>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <h6 class="my-day-title">Tuesday:</h6>
      <p-checkbox [(ngModel)]="schedule.tuesday.isActive" binary="true"></p-checkbox>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.tuesday.begin" [disabled]="!schedule.tuesday.isActive"></ngb-timepicker>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.tuesday.end" [disabled]="!schedule.tuesday.isActive"></ngb-timepicker>
    </div>
  </div>
  <hr>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <h6 class="my-day-title">Wednesday:</h6>
      <p-checkbox [(ngModel)]="schedule.wednesday.isActive" binary="true"></p-checkbox>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.wednesday.begin" [disabled]="!schedule.wednesday.isActive"></ngb-timepicker>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.wednesday.end" [disabled]="!schedule.wednesday.isActive"></ngb-timepicker>
    </div>
  </div>
  <hr>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <h6 class="my-day-title">Thursday:</h6>
      <p-checkbox [(ngModel)]="schedule.thursday.isActive" binary="true"></p-checkbox>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.thursday.begin" [disabled]="!schedule.thursday.isActive"></ngb-timepicker>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.thursday.end" [disabled]="!schedule.thursday.isActive"></ngb-timepicker>
    </div>
  </div>
  <hr>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <h6 class="my-day-title">Friday:</h6>
      <p-checkbox [(ngModel)]="schedule.friday.isActive" binary="true"></p-checkbox>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.friday.begin" [disabled]="!schedule.friday.isActive"></ngb-timepicker>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.friday.end" [disabled]="!schedule.friday.isActive"></ngb-timepicker>
    </div>
  </div>
  <hr>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <h6 class="my-day-title">Saturday:</h6>
      <p-checkbox [(ngModel)]="schedule.saturday.isActive" binary="true"></p-checkbox>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.saturday.begin" [disabled]="!schedule.saturday.isActive"></ngb-timepicker>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.saturday.end" [disabled]="!schedule.saturday.isActive"></ngb-timepicker>
    </div>
  </div>
  <hr>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <h6 class="my-day-title">Sunday:</h6>
      <p-checkbox [(ngModel)]="schedule.sunday.isActive" binary="true"></p-checkbox>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.sunday.begin" [disabled]="!schedule.sunday.isActive"></ngb-timepicker>
    </div>
    <div class="ui-g-6">
      <ngb-timepicker [(ngModel)]="schedule.sunday.end"[disabled]="!schedule.sunday.isActive"></ngb-timepicker>
    </div>
  </div>
</div>
