<div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <h4>User data</h4>
    </div>
    <div class="ui-g-12">
      <span class="ui-float-label">
        <input id="input-username" [(ngModel)]="userData.userName" type="text" size="30" pInputText>
        <label for="input-username">Username</label>
      </span>
      <br>
    </div>
    <div class="ui-g-12">
      <span class="ui-float-label">
        <input id="input-passowrd" [(ngModel)]="userData.password" type="password" size="30" pPassword>
        <label for="input-passowrd">Password</label>
      </span>
      <br>
    </div>
    <div class="ui-g-12">
      <span class="ui-float-label">
        <input id="input-confirmpassorwd" [(ngModel)]="userData.confirmPassword" type="password" size="30" [feedback]="false" pPassword>
        <label for="input-confirmpassorwd">Confirm password</label>
      </span>
      <p-message severity="error" class="my-message" text="Confirm password don't match!" [ngStyle]="{visibility: passwordsMatch() ? 'hidden' : 'visible'}"></p-message>
      <br>
    </div>
    <div class="ui-g-12">
      <span class="ui-float-label">
        <input id="input-email" [(ngModel)]="userData.email" type="email" size="30" pInputText>
        <label for="input-email">Email</label>
      </span>
      <p-message severity="error" class="my-message" text="E-mail don't include @" [ngStyle]="{visibility: emailValid() ? 'hidden' : 'visible'}"></p-message>
      <br>
    </div>
    <div class="ui-g-12">
      <span class="ui-float-label">
        <p-inputMask id="input-phone"[(ngModel)]="userData.phoneNumber" mask="+99 999 999 999" type="text" size="30"
          placeholder="+48 123 456 789"></p-inputMask>
        <label for="input-phone">Phone</label>
      </span>
      <br>
    </div>
  </div>
