<div class="my-panel-container">
  <p-panel class="my-panel" [showHeader]="false">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 my-title-container">
        <h2 class="my-title">Sign In</h2>
      </div>
      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input #login type="text" pInputText [(ngModel)]="loginCredential.userName" (keydown)="onKeydownLogin($event)"
            placeholder="Username">
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input #password type="password" pPassword [(ngModel)]="loginCredential.password"
            (keydown)="onKeydownPassword($event)" [feedback]="false" placeholder="Password">
        </div>
      </div>
      <div class="ui-g-12 my-btn-login-container">
        <button #loginBtn pButton type="button" class="ui-button-raised ui-button-rounded" icon="pi pi-check"
          iconPos="right" label="Login" (keydown)=onKeydownLoginButton($event) (click)="onSubmit()"></button>
      </div>
      <div class="ui-g-12 my-group-row-container p-grid p-justify-start">
        <div class="my-label-container p-col">
          <label class="my-label">Don't have account yet?</label>
        </div>
        <div class="my-btn-container p-col">
          <button pButton type="button" (click)="showRegisterClientDialog()" class="my-button ui-button-raised ui-button-rounded"
            label="Sign Up"></button>
        </div>
      </div>

      <div class="ui-g-12 my-group-row-container">
        <label class="my-label">Do you run your own business? </label>
        <a class="my-a-label" href="auth/register-salon">  Add your Salon</a>
        <label class="my-label">.</label>
      </div>
    </div>
  </p-panel>
</div>

<p-dialog header="Sign Up" [(visible)]="displayRegisterClient" [style]="{width: '450px'}">
  <app-register-client (closeDialog)="onCloseRegisterClientDialog($event)" ></app-register-client>
  <p-footer></p-footer>
</p-dialog>
