<div style="display:flex; align-items:center; justify-content:center; height:100%">
  <p-panel header="Login">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Username">
      </div>
      </div>
      <div class="ui-g-12">
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input type="password" pPassword placeholder="Password">
      </div>
      </div>
    </div>
  </p-panel>
  </div>
