.my-list-element-wrapper{
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 2px;
}
.my-header{
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
.my-label{
  margin-top: 5px;
}

.my-header-panel-button{
  float: right;
  margin-right: 5px;
  margin-top: 2px;
}
