.my-any-salon-selected-div{
  text-align: center;
  height: 100%;
  width: 100%;
}

.my-card-wrapper{
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background-color: #424242;
}

.my-label{
  width: 100%;
  font-size: large;
}

.my-img-container{
  width: 100%;
  text-align: center;
  position: relative;
}

.my-img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  height: 220px;
}

.my-paragraph{
  font-weight: bold;
  font-size: 14px;
}

.my-rate-count-header{
  margin-left: 5px;
  line-height: 24px;
  vertical-align: super;
}

.my-rate-count-label{
  line-height: 24px;
  vertical-align: super;
}

.my-rate{
  float: left;
  height: 32px;
}
.my-apostrophe{
  color: gold;
  text-decoration-line: underline;
  line-height: 24px;
  vertical-align: super;
  cursor: pointer;
}

.my-worker-schedule-container{
  background-color: #323232;
  text-align: left;
  border-radius: 12px;
  padding: 8px;
  font-size: 16px;
}
.my-worker-schedule-label{
  font-weight: bold;
}


