<div class="ui-g">
  <div class="ui-g-12 ui-fluid p-grid p-align-start">
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <div class="ui-g-12 ui-md-8 ui-md-offset-1 my-column-wrapper">
        <p-card header="{{salon.name}}" subheader="{{salon.type | salonType}} hairdresser" styleClass="ui-card-shadow">
          <p-header>
            <app-editable-div [(openDialogFlag)]="displayEditImage" [iconPaddingTop]="'10px'"
              [iconPaddingRight]="'10px'">
              <img [src]="salon.imageSource">
            </app-editable-div>
          </p-header>
          <p-accordion [multiple]="true">
            <p-accordionTab header="Info" [selected]="true">
              <app-editable-div [(openDialogFlag)]="displayEditSalonData" [iconPaddingTop]="'-7px'"
                [iconPaddingRight]="'-12px'">
                <div>{{salon.additionalInfo}}</div>
              </app-editable-div>
            </p-accordionTab>
            <p-accordionTab header="Schedule">
              <app-editable-div [(openDialogFlag)]="displayEditSchedule" [iconPaddingTop]="'-7px'"
                [iconPaddingRight]="'-12px'">
                <div *ngIf="salon.schedule.monday.isActive">Mon:
                  {{salon.schedule.monday.begin.hour | number:'2.0'}}:{{salon.schedule.monday.begin.minute | number:'2.0'}}-{{salon.schedule.monday.end.hour | number:'2.0'}}:{{salon.schedule.monday.end.minute | number:'2.0'}}
                </div>
                <div *ngIf="salon.schedule.tuesday.isActive">Tue:
                  {{salon.schedule.tuesday.begin.hour | number:'2.0'}}:{{salon.schedule.tuesday.begin.minute | number:'2.0'}}-{{salon.schedule.tuesday.end.hour | number:'2.0'}}:{{salon.schedule.tuesday.end.minute | number:'2.0'}}
                </div>
                <div *ngIf="salon.schedule.wednesday.isActive">Wed:
                  {{salon.schedule.wednesday.begin.hour | number:'2.0'}}:{{salon.schedule.wednesday.begin.minute | number:'2.0'}}-{{salon.schedule.wednesday.end.hour | number:'2.0'}}:{{salon.schedule.wednesday.end.minute | number:'2.0'}}
                </div>
                <div *ngIf="salon.schedule.thursday.isActive">Thu:
                  {{salon.schedule.thursday.begin.hour | number:'2.0'}}:{{salon.schedule.thursday.begin.minute | number:'2.0'}}-{{salon.schedule.thursday.end.hour | number:'2.0'}}:{{salon.schedule.thursday.end.minute | number:'2.0'}}
                </div>
                <div *ngIf="salon.schedule.friday.isActive">Fri:
                  {{salon.schedule.friday.begin.hour | number:'2.0'}}:{{salon.schedule.friday.begin.minute | number:'2.0'}}-{{salon.schedule.friday.end.hour | number:'2.0'}}:{{salon.schedule.friday.end.minute | number:'2.0'}}
                </div>
                <div *ngIf="salon.schedule.saturday.isActive">Sat:
                  {{salon.schedule.saturday.begin.hour | number:'2.0'}}:{{salon.schedule.saturday.begin.minute | number:'2.0'}}-{{salon.schedule.saturday.end.hour | number:'2.0'}}:{{salon.schedule.saturday.end.minute | number:'2.0'}}
                </div>
                <div *ngIf="salon.schedule.sunday.isActive">Sun:
                  {{salon.schedule.sunday.begin.hour | number:'2.0'}}:{{salon.schedule.sunday.begin.minute | number:'2.0'}}-{{salon.schedule.sunday.end.hour | number:'2.0'}}:{{salon.schedule.sunday.end.minute | number:'2.0'}}
                </div>
              </app-editable-div>
            </p-accordionTab>
            <p-accordionTab header="Contact">
              <app-editable-div [(openDialogFlag)]="displayEditUserData" [iconPaddingTop]="'-7px'"
                [iconPaddingRight]="'-12px'">
                <div>E-mail: {{salon.admin.email}}</div>
                <div>Tel no: {{salon.admin.phoneNumber}}</div>
              </app-editable-div>
            </p-accordionTab>
            <p-accordionTab header="Address">
              <app-editable-div [(openDialogFlag)]="displayEditSalonData" [iconPaddingTop]="'-7px'"
                [iconPaddingRight]="'-12px'">
                <div>{{salon.address.street}} {{salon.address.houseNumber}}</div>
                <div>{{salon.address.zipCode}}, {{salon.address.city}}</div>
              </app-editable-div>
            </p-accordionTab>
          </p-accordion>
          <p-footer>
          </p-footer>
        </p-card>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <div class="ui-g-12 ui-md-8 ui-md-offset-1 my-column-wrapper">
          <p-panel>
              <p-header>
                  <div class="ui-helper-clearfix">
                      <h5 class="ui-panel-title my-header-panel-title">Workers</h5>
                      <p-button class="my-header-panel-button" icon="pi pi-plus" (click)="showAddWorkerDialog()" ></p-button>
                  </div>
              </p-header>
            <app-worker-list [workers]="salon.workers" [salonServices]="salon.services" (deleteWorker)="onDeleteWorker($event)"></app-worker-list>
          </p-panel>
          <br>
          <p-panel>
            <p-header>
                <div class="ui-helper-clearfix">
                    <h5 class="ui-panel-title my-header-panel-title">Services</h5>
                    <p-button class="my-header-panel-button" icon="pi pi-plus" (click)="showAddServiceDialog()" ></p-button>
                </div>
            </p-header>
          <app-service-list [services]="salon.services" (deleteService)="onDeleteService($event)"></app-service-list>
        </p-panel>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Edit image" [(visible)]="displayEditImage" [style]="{width: '450px'}">
  <app-form-upload-image [imageSrc]="uploadedImageSource" (imageUploaded)="onImageUpload($event)">
  </app-form-upload-image>
  <p-footer>
    <div class="my-footer-wrapper">
      <button pButton type="button" class="ui-button-raised my-footer-button" (click)="saveImage()" label="Save"
        icon="pi pi-save" iconPos="left"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Edit salon data" [(visible)]="displayEditSalonData" [style]="{width: '450px'}">
  <app-form-salon-data [salon]="salonData"></app-form-salon-data>
  <p-footer>
    <div class="my-footer-wrapper">
      <button pButton type="button" class="ui-button-raised my-footer-button" (click)="saveSalonData()" label="Save"
        icon="pi pi-save" iconPos="left"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Edit user data" [(visible)]="displayEditUserData" [style]="{width: '450px'}">
  <app-form-user-data [userData]="userData" [editMode]="true"></app-form-user-data>
  <p-footer>
    <div class="my-footer-wrapper">
      <button pButton type="button" class="ui-button-raised my-footer-button" (click)="saveUserData()" label="Save"
        icon="pi pi-save" iconPos="left"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Edit schedule" [(visible)]="displayEditSchedule" [style]="{width: '450px'}">
  <app-form-schedule [schedule]="schedule"></app-form-schedule>
  <p-footer>
    <div class="my-footer-wrapper">
      <button pButton type="button" class="ui-button-raised my-footer-button" (click)="saveSchedule()" label="Save"
        icon="pi pi-save" iconPos="left"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Add worker" [(visible)]="displayAddWorker" [style]="{width: '500px'}">
    <app-add-worker [salonId]="userId" [salonSchedule]="salon.schedule" (addedWorker)="onAddedWorker($event)"></app-add-worker>
</p-dialog>

<p-dialog header="Add service" [(visible)]="displayAddService" [style]="{width: '450px'}">
    <app-add-service [salonId]="userId" (addedService)="onAddedService($event)"></app-add-service>
</p-dialog>
