.my-column-wrapper{
  width: 90%;
  margin-left: 5%;
}

.my-footer-button{
  width: 40%;
}

.my-footer-wrapper{
  width: 100%;
  text-align: center;
}

.my-header-panel-button{
  float: right;
}

.my-header-panel-title{
  float: left;
}
