.my-card-wrapper{
 width: 90%;
}

.my-edit-button{
  position: absolute;
  top: 10px;
  right: 10px;
}

.my-edit-wrapper{
  position: relative;
}

.my-hide-element{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
.my-show-element{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.33s linear;
  transition-delay: 1s;
}

.my-footer-button{
  width: 40%;
}

.my-footer-wrapper{
  width: 100%;
  text-align: center;
}
