.my-any-salon-selected-div{
  text-align: center;
  height: 100%;
  width: 100%;
}

.my-label{
  width: 100%;
  font-size: medium;
}

.my-header{
  width: 40px;
  text-align: right;
  margin-bottom: 1px;
}
